div.helloword {
  /* reset */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: 1;
  /* -- */

  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 75%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  /* color */
  background-color: #8DC4BE;
  
}

